/* Color Theme Swatches in Hex */
$Couture_2-1-hex: #162226;
$Couture_2-2-hex: #325955;
$Couture_2-3-hex: #3F7369;
$Couture_2-4-hex: #58A697;
$Couture_2-5-hex: #D9CCC7;

/* Color Theme Swatches in RGBA */
$Couture_2-1-rgba: rgba(22,34,38, 1);
$Couture_2-2-rgba: rgba(50,89,85, 1);
$Couture_2-3-rgba: rgba(63,115,105, 1);
$Couture_2-4-rgba: rgba(88,166,151, 1);
$Couture_2-5-rgba: rgba(217,204,199, 1);

/* Color Theme Swatches in HSLA */
$Couture_2-1-hsla: hsla(195, 26, 11, 1);
$Couture_2-2-hsla: hsla(173, 28, 27, 1);
$Couture_2-3-hsla: hsla(168, 29, 34, 1);
$Couture_2-4-hsla: hsla(168, 30, 49, 1);
$Couture_2-5-hsla: hsla(16, 19, 81, 1);
