/* Color Theme Swatches in Hex */
$Couture_1-1-hex: #542336;
$Couture_1-2-hex: #A8607C;
$Couture_1-3-hex: #DE87AA;
$Couture_1-4-hex: #F2DBCE;
$Couture_1-5-hex: #A68585;

/* Color Theme Swatches in RGBA */
$Couture_1-1-rgba: rgba(84,35,54, 1);
$Couture_1-2-rgba: rgba(168,96,124, 1);
$Couture_1-3-rgba: rgba(222,135,170, 1);
$Couture_1-4-rgba: rgba(242,219,206, 1);
$Couture_1-5-rgba: rgba(166,133,133, 1);

/* Color Theme Swatches in HSLA */
$Couture_1-1-hsla: hsla(336, 41, 23, 1);
$Couture_1-2-hsla: hsla(336, 29, 51, 1);
$Couture_1-3-hsla: hsla(335, 56, 70, 1);
$Couture_1-4-hsla: hsla(21, 58, 87, 1);
$Couture_1-5-hsla: hsla(0, 15, 58, 1);
